<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="ru">
	<head>
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		{{!-- Явно объявляет кодировку для работы с русскими символами --}}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{{!-- Оптимизирует для экранов мобильных устройст --}}
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
		{{!-- Описание страницы --}}
		<meta name="description" content="Срочные онлайн займы на банковскую карту" />
		{{!-- Ключевые слова --}}
		<meta name="Keywords" content="онлайн займ на карту без отказа, онлайн займы на карту срочно без отказов, онлайн займы на карту круглосуточно без отказа, займ на карту без отказов мгновенно онлайн, взять онлайн займ на карту без отказа, онлайн займы на банковскую карту без отказа, займ онлайн мгновенно круглосуточно без отказа, получить онлайн займ на карту без отказа, займ на карту онлайн заявка без отказа, займ онлайн 100 одобрение на карту, займ онлайн на карту срочно 100, онлайн займ на любую карту без отказа" />
		{{!-- Имя автора Интернет-страницы --}}
		<meta name="author" content="Victor Timoshin" />
		{{!-- Разрешение на индексирование страниц --}}
		<meta name="robots" content="all" />
		{{!-- Интервал посещения поискового робота --}}
		<meta name="revisit-after" content="10 days" />

		{{!-- Favicon --}}
		<link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
		<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

		{{!-- Заголовок --}}
		<title><%= htmlWebpackPlugin.options.title %></title>

		<% for (var file in htmlWebpackPlugin.files.css) { %>
			<link rel="stylesheet" href="<%= htmlWebpackPlugin.options.urlContent(htmlWebpackPlugin.files.css[file]) %>" />
		<% } %>
	</head>

	<body itemscope itemtype="http://schema.org/WebPage">
		<noscript>This site uses JavaScript. Please enable JavaScript in your browser.</noscript>

		<div id="ave-root">
			{{{body}}}
		</div>

		<% for (var file in htmlWebpackPlugin.files.js) { %>
			<script src="<%= htmlWebpackPlugin.options.urlContent(htmlWebpackPlugin.files.js[file]) %>"></script>
		<% } %>
	</body>
</html>
