<div class="{{#bem block='container'}}{{/bem}}">
	<div class="{{#bem block='row'}}{{/bem}}">
		<div class="{{#bem block='column' mods='["xs-12", "sm-12", "md-6", "lg-6"]'}}{{/bem}}">
			Home
		</div>
	</div>
</div>
